%aside
  .side-container
    %p.side-container__title My Store
  .side-container__store
    %p Starbucks
    %img{:alt => "store", :src => "image/content_iStock-458083395-2.png"}/
    %p 2019/09/09
  .side-container__store
    %p ドトールコーヒー
    %img{:alt => "store", :src => "image/topimg_dcs.png"}/
    %p 2019/06/06
  .side-container__add
    %a.side-container__add-btn{:href => "#"}
      %i.far.fa-plus-square