%header
  .header-container
    %p.header-container__title The Best Cup
    %a.header-container__signup{:href => "#"} 新規登録
    %a.header-container__login{:href => "#"} ログイン
    %a.header-container__use{:href => "#"} 使い方